<%- include("partials/header") %>

<div class="container">
	<h1>Add new Comment</h1>
	<form action ="/placement/ restId %>/comments" method="POST">
		
		<div class="form-group">
			<label for="text">Comment Text</label>
			<textarea class="form-control" name="text" id="text" rows="8" cols="80" placeholder="Comment text here ......" required></textarea> 
		</div>
		<input type="hidden" name="restId" value="<%= restId %>">
		<button type="submit" class="btn btn-primary">
			Submit Comment
		</button>
	</form>
</div>
<%- include("partials/footer") %>